{% extends 'layout_table.html' %}
{% block title %}Add answer{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
     <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/question/{{ question_id }}">Go back</a></li>
         <li><a href="/">Main page</a></li>
     </ul>
{% endblock %}

{% block main %}
<h2>Add Answer</h2>
    <form action="/question/{{question_id}}/new_answer" method="POST" enctype="multipart/form-data">
            <label for="message">Answer:</label>
            <textarea id="message" name="message" required></textarea>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
    <button id="submit" type="submit" value="Submit" >Submit</button>
    </form>
{% endblock %}
