{% extends 'layout_table.html' %}
{% block title %}Add tag{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
     <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/question/{{ question_id }}">Go back</a></li>
         <li><a href="/">Main page</a></li>
     </ul>
{% endblock %}

{% block main %}
<h2>Add Tag</h2>

<form action="/question/{{ question_id }}/new_tag" method="POST">
    <ul>
        {% for tag in tags %}
            <li>
                <label>
                    <input class="tags" type="checkbox" name="tags" value="{{ tag.name }}">{{ tag.name }}
                </label>
            </li>
        {% endfor %}
            <li>
                <label>
                    <input class="tags" type="checkbox" name="new_tag_check_box" value="true">
                    Add Tags:
                    <br>

                    <input  class="add_tags" type="text" name="new_tag_name">

                </label>
            </li>
    </ul>
     <br>
        <button id="submit" type="submit" value="Submit" >Submit</button>
</form>
{% endblock %}
