{% extends 'layout_table.html' %}
{% block title %}update answer{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
     <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/question/{{ question_id }}">Go back</a></li>
         <li><a href="/">Main page</a></li>
     </ul>
{% endblock %}

{% block main %}
<h2>Update Answer</h2>
    <form action='/answer/{{answer.id}}/edit' method="POST" enctype="multipart/form-data">
        <label for="message">Answer:</label>
        <textarea id="message" name="message" required>{{ answer.message }}</textarea>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image">
     <br>
        <button id="submit" type="submit" value="Submit" >Submit</button>
    </form>
{% endblock %}
