{% extends 'layout_table.html' %}
{% block title %}Update question{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
     <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/question/{{ question.id }}">Go back</a></li>
         <li><a href="/">Main page</a></li>
     </ul>
{% endblock %}

{% block main %}
<h2>Update Question</h2>
    <form action="/question/{{question.id}}/edit" method="POST" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value={{question['title']}} maxlength="100" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required>{{question['message']}} </textarea>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">

        {% if question['image'] %}
        <label>Current Image:</label>
        <img  class="image_main" src="../../{{ question.image }}" alt="Question Image">
            <input type="checkbox" id="remove_image" name="remove_image">
            <label for="remove_image">Remove Image</label>
        {% endif %}
     <br>
        <button id="submit" type="submit" value="Submit" >Submit</button>
    </form>
{% endblock %}
