{% extends 'layout_table.html' %}
{% block title %}update comment{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
     <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/question/{{ question_id }}">Go back</a></li>
         <li><a href="/">Main page</a></li>
     </ul>
{% endblock %}

{% block main %}
<h2>Update Comment</h2>
    <form action='/comment/{{ comment.id }}/edit' method="POST" enctype="multipart/form-data">
        <label for="message">Comment:</label>
        <textarea id="message" name="message" required>{{ comment.message }}</textarea>
     <br>
        <button id="submit" type="submit" value="Submit" >Submit</button>
    </form>
{% endblock %}
