{% extends 'layout_table.html' %}

{% block title %}update answer{% endblock %}
{% block page_header %}Update Answer{% endblock %}
{% block options %}
<p>
    <a href="/question/{{ answer.question_id }}">
        <button>Go back</button>
    </a>
</p>
{% endblock %}
{% block body %}
    <form action='/answer/{{answer.id}}/edit' method="POST" enctype="multipart/form-data">

        <div>
            <label for="message">Answer:</label>
            <textarea id="message" name="message" required>{{ answer.message }}</textarea>
        </div>
            <div>
                <label for="image">Image:</label>
                <input type="file" id="image" name="image">
            </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}
