{% extends 'layout_table.html' %}
{% block title %}Ask Mate Main{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
    {% if is_logged %}
     <ul>
         <li><a href="/logout">Logout</a><li>
         <li><a href="/users">Users</a></li>
         <li><a href="/list">List of questions</a></li>
         <li><a href="/tags"> List of tags</a></li>
     </ul>
    {% else %}
        <ul>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/list">List of questions</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block main %}
<div class="search-container">
    <form action="/search" method="GET">
        <label for="search"></label>
        <input type="text" id="search" name="q" placeholder="Search..." required>
        <button id ="button_search" type="submit">Search</button>
    </form>
</div>
<table class="main_table">
    <thead>
        <tr>
            <th>Submission Time</th>
            <th>Number of Views</th>
            <th>Votes</th>
            <th>Answers</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
    </thead>
            <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question.number_of_answers }}</td>
            <td class="title"><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td>
                {% if question.image %}
                    <img  class="image_main" src="{{ question.image }}" alt="Question Image">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

