{% extends 'layout_table.html' %}
{% block title %}question_&_answers{% endblock %}
{% block page_header %}Question & Answers{% endblock %}
{% block options %}
<div class="menu">
    <p>
        <a href="/">
            <button>Main</button>
        </a>
    </p>
    <p>
        <a href="/list">
            <button>List of questions</button>
        </a>
    </p>
    <p>
        <a href="/tags">
            <button>List of tags</button>
        </a>
    </p>
    <p>
        <a href="/question/{{ question.id }}/new_answer">
            <button>Add new answer</button>
        </a>
    </p>
    <p>
        <a href='/question/{{ question.id }}/delete'>
            <button>Delete question</button>
        </a>
    </p>
    <p>
        <a href='/question/{{ question.id }}/edit'>
            <button>Edit question</button>
        </a>
    </p>
    <p>
        <a href='/question/{{ question.id }}/new_comment'>
            <button>Comment question</button>
        </a>
    </p>
    <p>
        <a href='/question/{{ question.id }}/new_tag'>
            <button>Add tag</button>
        </a>
    </p>
</div>
{% endblock %}
{% block body %}
<table>
    <tr>
        <th>Question</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    <tr>
        <td>
            <div class="votes">
                {{ question['title'] }}
                <div class="thumb">
                    <a href="/question/{{ question.id }}/vote_up?source=question">&#128077;</a>
                    <a href="/question/{{ question.id }}/vote_down?source=question">&#128078;</a>
                </div>
            </div>
        </td>
        <td>
            <div class="button-container">
                {{ question['message'] }}<br>
                {% if tags|length > 0 %}
                    <i>Tags: </i>
                    {% for tag in tags %}
                        <button>{{ tag.name }}</button>
                        <div class="small-icon">
                            <a href="/question/{{question.id}}/tag/{{tag.id}}/delete">
                                <button>&#10060;</button></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </td>
        <td>
            <span class="remove_img">
                {% if question['image'] %}
                    <img src="../{{ question['image'] }}" alt="Question Image" style="max-width: 150px;">
                    <div class="del_img small-icon">
                            <a href="/question/{{ question.id }}/delete_image">
                                <button type="button" id="remove_image" name="">&#10060;</button>
                            </a>
                        </div>
                {% endif %}
            </span>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2">Comments to question</th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Message</th>
    </tr>
    {% for comment in comments %}
        <tr>
            <td>{{ comment.submission_time }}</td>
            <td>
                <div class="cell-content cell-text">
                    {{ comment.message }}
                    {% if comment.edited_count != None %}
                    <p>
                        <button name="number_of_edit"><strong> Number of editions: {{ comment.edited_count }}</strong>
                        </button>
                    </p>
                    {% endif %}
                    <span class="edit-delete-buttons small-icon">
                        <a href="/comments/{{ comment.id }}/delete"
                           onclick="return confirm('Do you want to delete this comment?')">
                            <button type="button" id="remove_comment" name="">&#10060;</button>
                        </a>
                        <a href='/comment/{{ comment.id }}/edit'>
                            <button type="button" id="edit_comment" name="">&#9998;</button>
                        </a>
                    </span>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
<table>
    <tr>
        <th>Date</th>
        <th>Votes</th>
        <th>Answers</th>
        <th>Accepted</th>
        <th>Image</th>
    </tr>
    {% for answer in answers %}
        <tr>
            <td>{{ answer.submission_time }}</td>
            <td>
                <div class="votes">
                    {{ answer.vote_number }}
                    <div class="thumb">
                        <a href="/answer/{{ answer.id }}/vote_up">&#128077;</a>
                        <a href="/answer/{{ answer.id }}/vote_down">&#128078;</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="cell-content cell-text">
                    <span {% if answer.is_accepted %}class="accepted"{% endif %}>{{ answer.message }}</span>
                    <span class="edit-delete-buttons small-icon">
                        <a href="/answer/{{ answer.id }}/delete">
                            <button type="button" id="remove_image" name="">&#10060;</button>
                        </a>
                        <a href='/answer/{{ answer.id }}/edit'>
                            <button type="button" id="edit_answer" name="">&#9998;</button>
                        </a>
                    </span>
                        </div>
                        <br>
                <table class="comment">
                            <tr>
                                <th>
                                    Comments
                                    <span>
                        <a href="/answer/{{ answer.id }}/new_comment">
                        <button>&#10133;</button>
                        </a>
                    </span>
                        </th>
                    </tr>
                    {% for comment in comments_to_answers %}
                        {% if comment.answer_id == answer.id %}
                            <tr>
                                <td>
                                    <div class="cell-content cell-text">
                                        {{ comment.message }}
                                        <span class="edit-delete-buttons small-icon">
                            <a href="/comments/{{ comment.id }}/delete"
                               onclick="return confirm('Do you want to delete this comment?')">
                            <button type="button" id="remove_comment" name="">&#10060;</button>
                            </a>
                            <a href='/comment/{{ comment.id }}/edit'>
                            <button type="button" id="edit_comment" name="">&#9998;</button>
                            </a>
                             </span>
                                    </div>
                                    <br>
                                    <i>{{ comment.submission_time }}</i>
                                    {% if comment.edited_count != None %}
                                    <p>
                                        <button name="number_of_edit"><strong> Number of
                                            editions: {{ comment.edited_count }}</strong></button>
                                    </p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                {% if not answer.is_accepted %}
                    <form action="/answers/{{ answer.id }}/mark_unmark_accepted" method="post">
                        <button type="submit">Mark as Accepted</button>
                    </form>
                {% else %}
                    <form action="/answers/{{ answer.id }}/mark_unmark_accepted" method="post">
                        <button type="submit">Unmark Accepted</button>
                    </form>
                {% endif %}
            </td>
            <td>
                <div class="remove_img">
                    {% if answer.image %}
                        <img src="../{{ answer.image }}" alt="Answer Image" style="max-width: 150px;">
                        <div class="del_img small-icon">
                            <a href="/answer/{{answer.id}}/delete_image">
                                <button type="button" id="remove_image" name="">&#10060;</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
