{% extends 'layout_table.html' %}
{% block title %}Question_&_answers{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
    {% if is_logged %}
     <ul>
         <li><a href="/logout">Logout</a><li>
         <li><a href="/">Main page</a></li>
         <li><a href="/list">List of questions</a></li>
         <li><a href="/question/{{ question.id }}/new_answer">Add new answer</a></li>
         <li><a href="/question/{{ question.id }}/delete">Delete question</a></li>
         <li><a href="/question/{{ question.id }}/edit">Edit question</a></li>
         <li><a href="/question/{{ question.id }}/new_comment">Add comment</a></li>
         <li><a href="/question/{{ question.id }}/new_tag">Add tag</a></li>
     </ul>
    {% else %}
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/list">List of questions</a></li>
            <li><a href="/tags"> List of tags</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block main %}
    <h2>Question & Answers</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message[1] }}">{{ message[0] }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<table class="main_table">
    <tr>
        <th>Question</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    <tr>
        <td>
            {{ question['title'] }}
            <div class="black_arrow">
                <a href="/question/{{ question.id }}/vote_up?source=question">&#129093;</a>
                 <a href="/question/{{ question.id }}/vote_down?source=question">&#129095;</a>
            </div>
        </td>
        <td>
                {{ question['message'] }}
                <br>
                {% if tags|length > 0 %}
                    <i>Tags: </i>

                    {% for tag in tags %}
                       <button class="button_tag">{{ tag.name }}</button>

                            <a class="remove_icon" href="/question/{{question.id}}/tag/{{tag.id}}/delete">&#127367;</a>
                    {% endfor %}
                {% endif %}

        </td>
        <td>
            {% if question['image'] %}
                <img class="image_main" src="../{{ question['image'] }}" alt="Question Image" style="max-width: 150px;">
                    <a class="remove_icon" href="/question/{{ question.id }}/delete_image">&#127367;
                    </a>
            {% endif %}
        </td>
    </tr>
</table>
<br><br>
<table class="main_table">
    <tr>
        <th>Date</th>
        <th>Comments to question</th>
    </tr>
    {% for comment in comments %}
        <tr>
            <td>{{ comment.submission_time }}</td>
            <td>
                    {{ comment.message }}
            <a class="remove_icon" href="/comments/{{ comment.id }}/delete"
                           onclick="return confirm('Do you want to delete this comment?')">&#127367;</a>
                        <a class="edit_icon" href='/comment/{{ comment.id }}/edit'>&#9998;</a>
            <br>
                    {% if comment.edited_count != None %}
                        <button class="number_of_edit" name="number_of_edit">
                            Number of editions: {{ comment.edited_count }}
                        </button>
                        <div class="sub_time">{{ comment.submission_time }}</div>
                    {% endif %}

            </td>
        </tr>
    {% endfor %}
</table>
    <br><br>
<table class="main_table">
    <tr>
        <th>Date</th>
        <th>Votes</th>
        <th>Answers</th>
        <th>Accepted</th>
        <th>Image</th>
    </tr>
    {% for answer in answers %}
        <tr  class="answer">
            <td>{{ answer.submission_time }}</td>
            <td>
                {{ answer.vote_number }}
                <div class="black_arrow">
                <a href="/answer/{{ answer.id }}/vote_up">&#129093;</a>
                <a href="/answer/{{ answer.id }}/vote_down">&#129095;</a>
                </div>
            </td>
            <td>
                <span  {% if answer.is_accepted %}class="accepted" {% endif %}> {{ answer.message }}</span>
                    <a class="remove_icon" href="/answer/{{ answer.id }}/delete">&#127367;</a>
                    <a class="edit_icon" href='/answer/{{ answer.id }}/edit'>&#9998;</a>
            </td>
            <td>
                {% if not answer.is_accepted %}
                    <form action="/answers/{{ answer.id }}/mark_unmark_accepted" method="post">
                        <button class="accepted_button" type="submit">Mark as Accepted</button>
                    </form>
                {% else %}
                    <form action="/answers/{{ answer.id }}/mark_unmark_accepted" method="post">
                        <button class="accepted_button" type="submit">Unmark Accepted</button>
                    </form>
                {% endif %}
            </td>
            <td>
                    {% if answer.image %}
                        <img class="image_main" src="../{{ answer.image }}" alt="Answer Image" style="max-width: 150px;">
                            <a class="remove_icon" href="/answer/{{answer.id}}/delete_image">&#127367;</a>
                    {% endif %}
            </td>

        </tr>

        <tr>
            <th colspan="5">
                Comments to answer
                <a class="plus" href="/answer/{{ answer.id }}/new_comment">&#10133;</a>
            </th>

        </tr>
        {% for comment in comments_to_answers %}
            {% if comment.answer_id == answer.id %}
                <tr  class="comment_answer">
                    <td colspan="5">
                        {{ comment.message }}
                        <a class="remove_icon" href="/comments/{{ comment.id }}/delete"
                           onclick="return confirm('Do you want to delete this comment?')">&#127367;</a>
                        <a class="edit_icon" href='/comment/{{ comment.id }}/edit'>&#9998;</a>
                        {% if comment.edited_count != None %}
                            <br>
                            <button class="number_of_edit" name="number_of_edit">
                                Number of editions: {{ comment.edited_count }}
                            </button>
                            <div class="sub_time">{{ comment.submission_time }}</div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

    {% endfor %}
</table>
{% endblock %}
