{% extends 'layout_table.html' %}
{% block title %}search_results{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
    {% if is_logged %}
        <ul>
             <li><a href="/logout">Log out</a><li>
             <li><a href="/">Main page</a></li>
            <li><a href="/list">List of questions</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/list">List of questions</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block main %}
<h2>Search Results</h2>

    <table class="main_table">
        <thead>
         <tr>
             {% for column in columns %}
            <th>
                {{ column.label }}
                <div class="sort-arrow">
                    <a href="/search?q={{ search_phrase }}&order_by={{ column.order_by }}&order_direction=asc">&#128316;</a>
                    <a href="/search?q={{ search_phrase }}&order_by={{ column.order_by }}&order_direction=desc">&#128317;</a>
                </div>
            </th>
             {% endfor %}
            <th>Answer</th>
            <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>
                        {{ question['vote_number'] }}
                        <div class="black_arrow">
                            <a href="/question/{{question['id']}}/vote_up?source=search&q={{ search_phrase }}">&#129093;</a>
                            <a href="/question/{{question['id']}}/vote_down?source=search&q={{ search_phrase }}">&#129095;</a>
                        </div>
                </td>
                <td class="title"><a href="/question/{{ question['id'] }}">{{ question['title'] | highlight_search_phrase(search_phrase) |safe }}</a></td>
                <td>{{ question['message'] | highlight_search_phrase(search_phrase) |safe }}</td>
                <td>
                        {% for answer in question['answers'] %}
                            {{ answer | highlight_search_phrase(search_phrase) |safe }}
                        {% endfor %}
                </td>
                <td>
                    {% if question['image'] %}
                        <img class="image_main" src="{{ question['image'] }}" alt="Question Image" style="max-width: 150px;">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br><br><br><br><br><br><br><br><br>
{% endblock %}

