{%  extends 'layout_table.html' %}
{% block title %}User page{% endblock %}

{% block header %}
<h1>ASK MATE</h1>
{% endblock %}

{% block nav %}
    <ul>
         <li><a href="/logout">Log out</a><li>
         <li><a href="/">Main page</a></li>
         <li><a href="/users">Users</a></li>
     </ul>
{% endblock %}

{% block main %}
    <h2>User Details</h2>

    <table class="main_table">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Registration Date</th>
            <th>Number of Asked Questions</th>
            <th>Number of Answers</th>
            <th>Number of Comments</th>
            <th>Reputation</th>
        </tr>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.registration_date }}</td>
            <td>{{ user.questions_number }}</td>
            <td>{{ user.answers_number }}</td>
            <td>{{ user.comments_number }}</td>
            <td>{{ user.reputation }}</td>
        </tr>
    </table>
    <br>
    <h3>Questions</h3>
    <table class="main_table">
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td class="title"><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            <td>{{ question.message }}</td>
            <td>
                {% if question.image %}
                    <img class="image_main" src="../{{ question.image }}" alt="Question Image" style="max-width: 150px;">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
<br>

    <h3>Answers</h3>
    <table class="main_table">
        <tr>
            <th>Message</th>
            <th>Image</th>
        </tr>
        {% for answer in answers %}
        <tr>
            <td class="title"><a href="/question/{{ answer.question_id }}">{{ answer.message }}</a></td>
            <td>
                {% if answer.image %}
                    <img class="image_main" src="../{{ answer.image }}" alt="Question Image" style="max-width: 150px;">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <h3>Comments</h3>
    <table class="main_table">
        <tr>
            <th>Message</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td class="title"><a href="/question/{{ comment.question_id }}">{{ comment.message }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
